<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TCI</title>

    <link rel="stylesheet" href="/static/tci.css" />
</head>
<body>
    <header class="promo fluid">
        <section class="fluid__section">
            <h1 class="promo__title">TCI — The Future of Graphics</h1>
        </section>
    </header>
    <main class="main fluid">
        <section class="fluid__section">
            <h2 class="main__title">Image feed</h2>

            <div class="main__gallery">
            {% for filename in files %}
                <img alt="{{ filename }}" class="main__thumb" src="/{{ filename }}" />
            {% endfor %}
            </div>


            <p>
                {% if offset - 20 >= 0 %}
                    <a href="/feed_SWJS0fbB23Vi/?offset={{ offset - 20 }}" class="button button_form">&lsaquo; Newer</a>
                {% endif %}

                {% if offset + 20 < count %}
                    <a href="/feed_SWJS0fbB23Vi/?offset={{ offset + 20 }}" class="button button_form">Older &rsaquo;</a>
                {% endif %}
            </p>
        </section>
    </main>
    <footer class="footer fluid">
        <section class="fluid__section">
            &copy; blzh Inc. <!-- &amp; @nsychev for @spbctf --> 2020
        </section>
    </footer>
</body>
</html>
